# Secrets
.env
backend/.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# ML models (big files - never push)
backend/app/model/*.pkl
*.pklbackend/app/model/*.pkl
