# Secrets
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache (optional)
.streamlit/

.vscode/
backend/model/*.pklbackend/app/model/*.pkl
backend/model/*.pkl
